-- phpMyAdmin SQL Dump
-- version 4.5.1
-- http://www.phpmyadmin.net
--
-- Host: 127.0.0.1
-- Generation Time: Aug 24, 2016 at 04:44 AM
-- Server version: 10.1.10-MariaDB
-- PHP Version: 5.6.15

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Database: `sale`
--

-- --------------------------------------------------------

--
-- Table structure for table `CTHD`
--

CREATE TABLE `CTHD` (
  `SOHD` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `MASP` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `SL` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `CTHD`
--


-- --------------------------------------------------------

--
-- Table structure for table `HOADON`
--

CREATE TABLE `HOADON` (
  `SOHD` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `NGAY` date NOT NULL,
  `MAKH` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `TRIGIA` decimal(18,4) UNSIGNED NOT NULL,
  `THANHTOAN` tinyint(1) DEFAULT '0',
  `GIAOHANG` tinyint(1) DEFAULT '0',
  `TTDONHANG` tinyint(1) DEFAULT '0',
  `MANV` char(10) COLLATE utf8_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `HOADON`
--


-- --------------------------------------------------------

--
-- Table structure for table `KHACHHANG`
--

CREATE TABLE `KHACHHANG` (
  `MAKH` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `HOTEN` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `DCHI` varchar(60) COLLATE utf8_unicode_ci NOT NULL,
  `SODT` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `EMAIL` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `NGSINH` date NOT NULL,
  `NGDK` date NOT NULL,
  `USER` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `PASSWD` varchar(36) COLLATE utf8_unicode_ci NOT NULL,
  `DOANHSO` decimal(18,4) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `KHACHHANG`
--


-- --------------------------------------------------------

--
-- Table structure for table `NHANVIEN`
--

CREATE TABLE `NHANVIEN` (
  `MANV` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `HOTEN` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `DCHI` varchar(60) COLLATE utf8_unicode_ci NOT NULL,
  `SODT` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `EMAIL` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `NGSINH` date NOT NULL,
  `NGDK` date NOT NULL,
  `USER` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `PASSWD` varchar(36) COLLATE utf8_unicode_ci NOT NULL,
  `LOAI` enum('QLDH','QLSP') COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `NHANVIEN`
--

INSERT INTO `NHANVIEN` (`MANV`, `HOTEN`, `DCHI`, `SODT`, `EMAIL`, `NGSINH`, `NGDK`, `USER`, `PASSWD`, `LOAI`) VALUES
('NV00000001', 'Dễ Thương', 'KTX Khu B', '0962125121', 'qlsp@gmail.com', '1995-01-01', '2016-06-16', 'qlsp', '8de23009ff6c5356e0582ecbb8976dee', 'QLSP'),
('NV00000002', 'Đáng ghét', 'KTX Khu B', '0962123231', 'qldh@gmail.com', '1995-01-02', '2016-06-16', 'qldh', '15332268d5a2d8087954b25684cc1207', 'QLDH');

-- --------------------------------------------------------

--
-- Table structure for table `SANPHAM`
--

CREATE TABLE `SANPHAM` (
  `MASP` char(10) COLLATE utf8_unicode_ci NOT NULL,
  `TENSP` tinytext COLLATE utf8_unicode_ci NOT NULL,
  `THONGTIN` text COLLATE utf8_unicode_ci NOT NULL,
  `GIA` int(10) UNSIGNED NOT NULL,
  `HOT` int(11) NOT NULL DEFAULT '0',
  `LOAI` enum('MicroSD','SD','HDD','SSD','RAM','2.0','3.0','Webcam','Loa','Tai Nghe','Chuột','Bàn Phím','Đế tản nhiệt','Khác') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `LUOTXEM` int(10) UNSIGNED NOT NULL,
  `DOC` int(10) UNSIGNED NOT NULL,
  `GHI` int(10) UNSIGNED NOT NULL,
  `BAOHANH` int(10) UNSIGNED NOT NULL,
  `LINKS` text COLLATE utf8_unicode_ci NOT NULL,
  `NGAYTHEM` date NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `SANPHAM`
--


--
-- Indexes for dumped tables
--

--
-- Indexes for table `CTHD`
--
ALTER TABLE `CTHD`
  ADD PRIMARY KEY (`MASP`,`SOHD`),
  ADD KEY `FK_SOHD` (`SOHD`);

--
-- Indexes for table `HOADON`
--
ALTER TABLE `HOADON`
  ADD PRIMARY KEY (`SOHD`),
  ADD KEY `fk_MAKH` (`MAKH`),
  ADD KEY `fk_MANV` (`MANV`);

--
-- Indexes for table `KHACHHANG`
--
ALTER TABLE `KHACHHANG`
  ADD PRIMARY KEY (`MAKH`);

--
-- Indexes for table `NHANVIEN`
--
ALTER TABLE `NHANVIEN`
  ADD PRIMARY KEY (`MANV`);

--
-- Indexes for table `SANPHAM`
--
ALTER TABLE `SANPHAM`
  ADD PRIMARY KEY (`MASP`);

--
-- Constraints for dumped tables
--

--
-- Constraints for table `CTHD`
--
ALTER TABLE `CTHD`
  ADD CONSTRAINT `FK_MASP` FOREIGN KEY (`MASP`) REFERENCES `SANPHAM` (`MASP`),
  ADD CONSTRAINT `FK_SOHD` FOREIGN KEY (`SOHD`) REFERENCES `HOADON` (`SOHD`);

--
-- Constraints for table `HOADON`
--
ALTER TABLE `HOADON`
  ADD CONSTRAINT `fk_MAKH` FOREIGN KEY (`MAKH`) REFERENCES `KHACHHANG` (`MAKH`),
  ADD CONSTRAINT `fk_MANV` FOREIGN KEY (`MANV`) REFERENCES `NHANVIEN` (`MANV`);

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
